<h2 mat-dialog-title>{{'Judicial pensioner' | uppercase}}</h2>
<mat-dialog-content class="body-1">
  <section class="mat-typography">
  </section>
  <div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label col-form-label-sm">Designation
      </label>
      <div class="col-sm-9">
        <input type="text" class="form-control form-control-sm" placeholder="Select your designation">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label col-form-label-sm">Service Period Relevant to Designation</label>
      <div class="col-sm-3">
        <input type="number" min="1" max="2100" class="form-control form-control-sm" placeholder="Years">
      </div>
      <div class="col-sm-3">
        <input type="number" min="1" max="12" class="form-control form-control-sm" placeholder="Months">
      </div>
      <div class="col-sm-3">
        <input type="number" min="1" max="31" class="form-control form-control-sm" placeholder="Days">
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div fxFlex></div>
  <button [mat-dialog-close]="true" mat-raised-button color="primary">
    PROCEED
  </button>

</mat-dialog-actions>