<div fxLayout="row">
  <div class="page-inline-menu" fxLayout="row" fxLayoutAdivgn="start center">
    <div class="col-3">
      <h5>PMS Navigation</h5>
    </div>
    <div role="group" aria-label="Basic example">
      <span *ngFor="let action of actions">
        <button (click)="actionBtnClicked(action)" type="button" class="btn btn-primary btn-sm">{{ action.displayText }}</button>
      </span>

    </div>
  </div>
</div>
<div class="container">

  <div>
    <h6>MAIN MENU ITEMS</h6>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">IS A TITLE?</th>
          <th scope="col">ICON</th>
          <th scope="col">URL</th>
          <th scope="col" style="width: 20%;">ACTIONS</th>
          <th scope="col" style="width: 5%;">REMOVE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of mainMenu">
          <td>{{ model.menuItemId }}</td>
          <td>{{ model.name }}</td>
          <td>{{ model.title }}</td>
          <td>
            <i class="{{ model.icon }}"></i>
          </td>
          <td>{{ model.url }}</td>
          <td>
            <button (click)="showSubMenuItemsBtnClicked(model)" type="button" class="btn btn-primary btn-sm" aria-label="Close">SUB MENU
            </button>
            <button (click)="updateBtnClicked(model)" type="button" class="btn btn-primary btn-sm" aria-label="Close">UPDATE
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" aria-label="Close">REMOVE
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>