<h2 mat-dialog-title>{{'Add spouse' | uppercase}}</h2>
<mat-dialog-content class="body-1">
  <section class="mat-typography">
  </section>
  <div [formGroup]="form">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Name
      </label>
      <div class="col-sm-9">
        <input formControlName="name" type="text" class="form-control form-control-sm" placeholder="Name of the dependent">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Relation
      </label>
      <div class="col-sm-9">
        <select  formControlName="relation" class="form-control form-control-sm" placeholder="Relation">
          <option>Wife</option>
          <option>Husband</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Date of birth
      </label>
      <div class="col-sm-9">
          <input ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" formControlName="dob" ngbDatepicker type="text" class="form-control"
          placeholder="Date of birth">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Gender
      </label>
      <div class="col-sm-9">
        <select formControlName="gender" class="form-control form-control-sm" placeholder="Gender">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">NIC
      </label>
      <div class="col-sm-9">
        <input formControlName="nic" type="text" class="form-control form-control-sm" placeholder="XXXXXXXXXV">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Birth Certificate Number
      </label>
      <div class="col-sm-9">
        <input formControlName="birthCertNumber" type="text" class="form-control form-control-sm" placeholder="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Marriage Certificate Number
      </label>
      <div class="col-sm-9">
        <input formControlName="marriageCertNumber" type="text" class="form-control form-control-sm" placeholder="">
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div fxFlex></div>
  <button (click)="close()" class="btn btn-secondary btn-danger">CANCEL</button>&nbsp;
  <button [disabled]="!form.valid" [mat-dialog-close]=form class="btn btn-primary">
    ADD
  </button>
</mat-dialog-actions>