<h2 mat-dialog-title>{{'Add Deduction' | uppercase}}</h2>
<mat-dialog-content class="body-1">
  <section class="mat-typography">
  </section>
  <div [formGroup]="form">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Deduction Type
      </label>
      <div class="col-sm-9">
        <select formControlName="title" class="form-control form-control-sm" placeholder="Gender">
          <option>Reason 1</option>
          <option>Reason 2</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Amount
      </label>
      <div class="col-sm-9">
        <input formControlName="amount" type="text" class="form-control form-control-sm" placeholder="Amount">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Amount for 2020
      </label>
      <div class="col-sm-9">
        <input formControlName="amountFor2020" type="text" class="form-control form-control-sm" placeholder="Amount for 2020">
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div fxFlex></div>
  <button (click)="close()" class="btn btn-secondary btn-danger">CANCEL</button>&nbsp;
  <button [disabled]="!form.valid" [mat-dialog-close]=form class="btn btn-primary">
    ADD
  </button>
</mat-dialog-actions>