<div  class="table table-sm table-bordered" [formGroup]="form">
  <thead>
    <tr>
      <th colspan="1" style="min-width: 600px">Details of gratuity entitlement</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tr>
    <td>Gross gratuity</td>
    <td>
      <input formControlName="grossGratuity" type="text" class="form-control">
    </td>
  </tr>
  <tr>
    <td>Amount payble to the goverment</td>
    <td>
      <input formControlName="amountPayableToGov" type="text" class="form-control">
    </td>
  </tr>
  <tr>
    <td>Net gratuity</td>
    <td>
      <input formControlName="netGratuity" type="text" class="form-control">
    </td>
  </tr>
</div>