<div class="row" style="min-height: calc(100vh)">
  <div class="text-white col-md-9">
    <div class="card-body text-center">
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img height="280" width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Emblem_of_Sri_Lanka.svg/2000px-Emblem_of_Sri_Lanka.svg.png"
          alt="">
          <br>
        <h2>Pensions Management System</h2>
        <p>This system is designed by Deligan Software Engineering (Pvt) Ltd.
          <span>v0.2</span>
        </p>
        <button [routerLink]="['/pages/register']" type="button" type="button" class="btn btn-primary px-4">Register Now!</button>
        <button (click)="gotoWnopReregistration()" type="button" type="button" class="btn btn-primary px-4">Register W&OP</button>
      </div>
    </div>
  </div>

  <div style="background-color: white; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);" class="p-4 col-md-3">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card-body">
      <h1>Login</h1>
      <p class="text-muted">Sign In to your account</p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="icon-user"></i>
          </span>
        </div>
        <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username">
      </div>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="icon-lock"></i>
          </span>
        </div>
        <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password">
      </div>
      <div class="row">
        <div class="col-md-6" style="padding-left: 0px">
          <button (click)="login()" type="button" class="btn btn-primary px-4">Login</button>
        </div>
        <div class="col-6 text-right">
          <button type="button" class="btn btn-link px-0">Forgot password?</button>
        </div>
      </div>
    </div>
  </div>

</div>