<div fxLayout="row">
  <div class="page-inline-menu" fxLayout="row" fxLayoutAdivgn="start center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-light">Add</button>
      <button type="button" class="btn btn-light">Save</button>
      <button type="button" class="btn btn-light">Update</button>
      <button type="button" class="btn btn-light">Cancel</button>
    </div>
    <div></div>
  </div>
</div>
<div class="container-with-topnav" fxLayout="row">
  <div fxFlex="100">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NAME</th>
          <th scope="col">NIC</th>
          <th scope="col">DATE OF BIRTH</th>
          <th scope="col">IS DIFFRERENLTY ABLED</th>
          <th scope="col">RELATION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Test Name</td>
          <td>940203929V</td>
          <td>1994-01-20</td>
          <td>No</td>
          <td>Son</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>