<div class="table table-sm table-bordered" [formGroup]="form">
  <thead>
    <tr>
      <th colspan="1" style="min-width: 600px"> Details of Monthly pension entitlement</th>
      <th>Amount</th>
      <th>Amount (2020)</th>
    </tr>
  </thead>
  <tbody>
    <tr formGroupName="reduced">
      <td>Reduced pension</td>
      <td>
        <input formControlName="current" type="text" class="form-control">
      </td>
      <td>
        <input formControlName="at2020" type="text" class="form-control">
      </td>
    </tr>
    <tr formGroupName="unreduced">
      <td>Unreduced pension</td>
      <td>
        <input formControlName="current" type="text" class="form-control">
      </td>
      <td>
        <input formControlName="at2020" type="text" class="form-control">
      </td>
    </tr>
  </tbody>
</div>