<div class="col-md-12">
    <h4>Warrent List</h4> 
    <div fxLayout="row">
        <div fxFlex="100">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th scope="col">Warrent ID</th>
                <th scope="col">Date</th>
                <th scope="col">From</th> 
                <th scope="col">To</th> 
                <th scope="col">Status</th> 
                <th scope="col">Option</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">111111</th>
                <td>2018.01.05</td>
                <td>Colombo</td>
                <td>Kandy</td> 
                <td>Issued</td>  
                <td><input type="button" (click)="gotoPensionerDetails()" value="Edit"></td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>   
    </div>