<h5 mat-dialog-title>{{'General 55 questions' | uppercase}}</h5>
<br>
<div [formGroup]="form">
  <div class="col-md-12">
    <div class="card">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Deduct from Gratuity?</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <input formControlName="deductFromGratuity" [value]=true class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="deductFromGratuity" [value]=false class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <div *ngIf="deductFromGratuity.value">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Amount or a Percentage?</label>
          <div class="col-sm-6">
            <div class="form-check form-check-inline">
              <input formControlName="amountOrPercentage" value="Amount" class="form-check-input" type="radio">
              <label class="form-check-label" for="inlineRadio1">Amount</label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="amountOrPercentage" value="Percentage" class="form-check-input" type="radio">
              <label class="form-check-label" for="inlineRadio2">Percentage</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">{{ amountOrPercentage.value }}</label>
          <div class="col-sm-6">
            <input formControlName="amountFromGratuity" type="number" class="form-control" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Reduce from Pension?</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <input formControlName="deductFromPension" [value]=true class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="deductFromPension" [value]=false class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <div *ngIf="deductFromPension.value">
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Number of Years</label>
          <div class="col-sm-6">
            <input formControlName="numberOfYears" type="number" class="form-control" placeholder="Number of Years">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label">Amount</label>
          <div class="col-sm-6">
            <input formControlName="amountFromPension" type="number" class="form-control" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Starting date of the pension is payable</label>
        <div class="col-sm-4">
          <input ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" formControlName="pensionStartingDate" ngbDatepicker type="text"
            class="form-control" placeholder="yyyy-mm-dd">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Are there any service breckages during the pensionable period</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <input formControlName="serviceBreaks" [value]=true class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="serviceBreaks" [value]=false class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <genff-service-break-info *ngIf="serviceBreaks.value"></genff-service-break-info>
      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Has the pensioner obtained for a temporary pension or salary after retirement?</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <input formControlName="tempPensionReceived" [value]=true class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="tempPensionReceived" [value]=false class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <div class="form-group row container" *ngIf="tempPensionReceived.value">
        <label class="col-sm-3 col-form-label">Obtained location</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Has he obtained pension previously?</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <input formControlName="pensionReceived" [value]=true class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="pensionReceived" [value]=false class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <div class="form-group row container" *ngIf="form.get('pensionReceived').value">
        <label class="col-sm-3 col-form-label">Pension Number</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" placeholder="">
        </div>
        <div class="col-sm-5"></div>
        <label class="col-sm-3 col-form-label">Gratuity Amount</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Has the the pensioner release to temporary basis for semi-government organizations over the service period?</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <input formControlName="releasedForTempService" [value]=true class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="releasedForTempService" [value]=false class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>

      <genff-temp-transfers-info *ngIf="releasedForTempService.value"></genff-temp-transfers-info>

      <div class="form-group row">
        <label class="col-sm-5 col-form-label">Does pensioner has daily paid service period?</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <input formControlName="hasDailyServicePeriod" [value]=true class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="hasDailyServicePeriod" [value]=false class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>

      <div class="form-group row container" *ngIf="hasDailyServicePeriod.value">
        <label class="col-sm-5 col-form-label">Has pensioner joined with public service provident fund or employee provident fund in his daily service period?</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <input formControlName="joinedForFunds" [value]=true class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="joinedForFunds" [value]=false class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>
      <div class="form-group row container" *ngIf="joinedForFunds.value">
        <label class="col-sm-5 col-form-label">Does he refund government contribution(12%)?</label>
        <div class="col-sm-6">
          <div class="form-check form-check-inline">
            <input formControlName="contributionRefunded" [value]=true class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input formControlName="contributionRefunded" [value]=false class="form-check-input" type="radio">
            <label class="form-check-label" for="inlineRadio2">No</label>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>