<div class="container-without-topnav">
  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

    <mat-step>
      <ng-template matStepLabel>Pensioner Details</ng-template>
      <app-warrent-details></app-warrent-details>
      <div>
        <div fxFlex></div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Warrent booking</ng-template>
      <app-warrent-booking></app-warrent-booking>
      <div>
        <div fxFlex></div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div fxFlexFill fxLayout="column">
        <div class="item item-4" fxFlex>
          <div fxLayout="column" fxLayoutAlign="space-between center" style="margin-top: 200px">
            <section style="text-align: left" class="mat-typography">
              <h1>{{ 'SUCCESSFUL_MSG' | uppercase }}</h1>
            </section>
            <p>INFORMATION </p>
            <mat-card-actions>
              <div fxFlex></div>
              <button mat-raised-button color="primary" (click)="submit()">SUBMIT</button>
            </mat-card-actions>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>