<div fxLayout="row">
  <div class="page-inline-menu" fxLayout="row" fxLayoutAdivgn="start center">
    <div>
      <h5>APPROVAL PENDING APPLICATIONS</h5>
    </div>
  </div>
</div>
<div class="container">
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">REF#</th>
        <th scope="col">NAME</th>
        <th scope="col">NIC#</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>184890</td>
        <td>Test Name Test Name Name</td>
        <td>12456789V</td>
        <td>
          <button [routerLink]="['/wnop-rereg/detailed']" type="button" class="btn btn-primary btn-sm">MORE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>