<div fxLayout="row">
  <div class="page-inline-menu" fxLayout="row" fxLayoutAdivgn="start center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-light">Save</button>
      <button type="button" class="btn btn-light">Clear</button>
      <button type="button" class="btn btn-light">Cancel</button>
    </div>
    <div></div>
  </div>
</div>
<div class="container-with-topnav">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="48">
      <div>
        <div class="form-group">
          <label>Full name</label>
          <input type="text" class="form-control invalid" id="dateFrom" placeholder="Full Name">
        </div>
        <div class="form-group">
          <label>NIC Number</label>
          <input type="text" class="form-control invalid" id="dateFrom" placeholder="NIC">
        </div>
        <div class="form-group">
          <label>From</label>
          <input type="date" class="form-control" id="dateFrom" placeholder="From">
        </div>
      </div>
    </div>
    <div fxFlex="48">
      <div>
        <div class="form-group">
          <label for="exampleInputEmail1">Leave type</label>
          <select class="form-control form-control-sm" id="exampleFormControlSelect2">
            <option>Annual</option>
            <option>Casual</option>
            <option>Half Day</option>
            <option>Day off</option>
            <option>Short Leave</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">Please select the leave type</small>
        </div>
        <div class="form-group">
          <label>From</label>
          <input type="text" class="form-control invalid" id="dateFrom" placeholder="From">
        </div>
        <div class="form-group">
          <label>From</label>
          <input type="date" class="form-control" id="dateFrom" placeholder="From">
        </div>
      </div>
    </div>
  </div>

</div>